* {
	margin:0px;
}
body {
	text-align: center;
    font-family: 'Courgette', cursive;;
    background:url(../img/200.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}
.car{
	font-size: 130%;
	color:#fff;
	margin-right:15%;

}
.fushion{
	text-align:center;
}
.respons{
	width:1140px;
	margin: 180px;
    margin-left:-0px;
}
.respons h2 {
	margin:10px;
}

.respons h3{
    margin:5px;
     font-family: 'Courgette', cursive;;
}
.from-control{
	font-family: 'Courgette', cursive;;
	width:24%;
    margin:5px;
    padding:6px;
    background-color:#6A6837;
    color:#fff;
}


.btn{
    background-color:#B5B09D;
    color:black;
    padding:4px 4px;
    margin:3px;
    border:0.1px;
    font-size:12px;   
}

.btn:hover{
	box-shadow: 1px 2px 9px #9D6838;
    cursor:pointer;
    transition:0.5s ease;
}